In [1]:
import numpy as np
import pandas as pd

In [6]:
names = pd.Series(['Andrew',"Bob","Claire",'David','5'])

In [7]:
names.str.upper()

0    ANDREW
1       BOB
2    CLAIRE
3     DAVID
4         5
dtype: object

In [8]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [9]:
tech_finance = ['GOOG,APPL,AMZN','JPM,BAC,GS']

In [10]:
tickers = pd.Series(tech_finance)

In [11]:
tickers

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [15]:
tickers.str.split(',')

0    [GOOG, APPL, AMZN]
1        [JPM, BAC, GS]
dtype: object

In [16]:
tickers.str.split(',',expand = True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [19]:
messy_names = pd.Series(['andrew     ','bo:bo','       claire        '])

In [22]:
messy_names.str.replace(':','').str.strip()

0    andrew
1      bobo
2    claire
dtype: object