In [2]:
mystring="hello"
mylist=[]
for letter in mystring:
    mylist.append(letter)
mylist

['h', 'e', 'l', 'l', 'o']

In [4]:
mystring="patate"
mylist=[i for i in mystring]
mylist

['p', 'a', 't', 'a', 't', 'e']

In [7]:
num=[i for i in range(0,101,2)]
print(num)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [8]:
num=[2*i for i in range(0,11)]
print(num)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
mylist=[str(i) for i in range(1,11)]
print(mylist)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [11]:
mylist=[str(2*i) for i in range(1,11) if i%2==0]
print(mylist)

['4', '8', '12', '16', '20']

In [14]:
mylist=[x if x%2==0 else 'odd' for x in range(0,11)]
print(mylist)

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [15]:
mylist=[x**y for x in [2,4,8] for y in range(0,11)]
print(mylist)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 1, 4, 16, 64, 256, 1024, 4096, 16384, 65536, 262144, 1048576, 1, 8, 64, 512, 4096, 32768, 262144, 2097152, 16777216, 134217728, 1073741824]