In [2]:
for i in range(13,78,3):
    print(i)

13
16
19
22
25
28
31
34
37
40
43
46
49
52
55
58
61
64
67
70
73
76

In [3]:
range(7,80,2)

range(7, 80, 2)

In [5]:
list(range(7,80,2))

[7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79]

In [8]:
for i in range(1,20):
    enumerate(i)

TypeError: 'int' object is not iterable

In [9]:
word="patate"
for i in enumerate(word):
    print(i)

(0, 'p')
(1, 'a')
(2, 't')
(3, 'a')
(4, 't')
(5, 'e')

In [11]:
word="patate"
for index,letter in enumerate(word):
    print(f"letter {letter} at index {index}")

letter p at index 0
letter a at index 1
letter t at index 2
letter a at index 3
letter t at index 4
letter e at index 5

In [12]:
'x' in [1,2,3]

False

In [13]:
'x' in 'xenon'

True

In [22]:
from random import shuffle
mylist=list(range(1,80))
print(f"{mylist}\n")
shuffle(mylist)
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79]

[7, 69, 53, 2, 29, 73, 52, 43, 47, 67, 28, 31, 46, 26, 23, 3, 63, 42, 5, 14, 51, 61, 48, 19, 1, 21, 16, 77, 12, 32, 20, 13, 36, 25, 79, 37, 18, 64, 34, 6, 41, 22, 33, 11, 40, 27, 78, 24, 49, 71, 45, 72, 4, 38, 54, 76, 50, 57, 75, 35, 58, 56, 68, 74, 62, 9, 10, 70, 66, 15, 30, 44, 8, 65, 55, 59, 60, 17, 39]

In [23]:
a=input("choose value for a")
print(a)

choose value for a18
18

In [27]:
print(type(a))
print(int(a))
print(type(a))

<class 'str'>
18
<class 'str'>

In [28]:
a=int(input("bla"))
print(a)
print(type(a))

bla48
48
<class 'int'>